.gg168 {
  position: absolute !important;
  padding: 0 8px !important;
  background-color: white !important;
  height: 20px !important;
  font-size: 12px !important;
  top: 32px !important;
  left: 12px !important;
}
